* {
    margin: 0;
    padding: 0;
    font-family: monospace;
   }
   body{
    background:#1d3d4e;
    position:relative;
   }
#main{
  
  height:100vh;
  width:100%;  
  display:flex;
  justify-content:center;
  
  color:white;
  font-size:3em;
  text-align:center;
  
}
#choosing{
  position:fixed;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  overflow: scroll;
  width: 100vw;
  height: 100vh;
  background: white;
  opacity: 0.8; 
  left: -100vw;
  transition: left 1s;
  
}
#choosing div{
  color:black;
  cursor:pointer;
  display:flex;
  justify-content: center;
  align-items: center;
  margin: -1px 0 0 -1px;
  border: 1px solid black;
}
.region{
  box-sizing: border-box;
  width:50%;
  min-width: 328px;
}
.city{
  box-sizing: border-box;
  font-size:0.5em;
  width: 10%;
  min-width: 154px;
}
.date{
  box-sizing: border-box;
  min-width: 150px;
  width:20%;
}
.weatherDay{
  
  margin:0.2em;
  padding:0.5em;
  border:1px solid white;
  border-radius: 30px;
}
.center{
  margin-top:1vh;
}
/*#showBtn{
  width:20em;
  height:4em;
  border-radius:20px;
  margin:3em;
  font-size:0.5em;
  background:#1d3d4e;
  box-shadow: 0 0 10px white;
  color:white;
}
#showBtn:hover{
  transition: 1s background-color;
  background:gray;
}*/

#regTest, #cityTest, #dayTest{
  cursor:pointer;
}

.flex p:hover{
  transition: color 1s;
  color: red;
}


.flex{
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
}

.flex p {
  width:10em;
  margin:1em;
}
#display{
  transition: height 2s;
  height: 0px;
  overflow: hidden;
  
}