* {
    margin: 0;
    padding: 0;
    font-family: monospace;
   }
   body{
    background:#1d3d4e;
    position:relative;
   }
#main{
  
  height:100vh;
  width:100%;  
  display:flex;
  justify-content:center;
  
  color:white;
  font-size:3em;
  text-align:center;
  
}
#choosing{
  position:absolute;
  display:flex;
  flex-wrap:wrap;
  width: 100vw;
  height: 100vh;
  background: white;
  opacity: 0.8; 
  left: -100vw;
  transition: left 1s;
}
#choosing div{
  border-right:1px solid black;
  border-bottom:1px solid black;
  color:black;
  cursor:pointer;
  display:flex;
  justify-content: center;
  align-items: center;
  
}
.region{
  box-sizing: border-box;
  width:50%;
}
.city{
  box-sizing: border-box;
  font-size:0.5em;
  width: 10%;
}
.date{
  box-sizing: border-box;
 
  width:20%;
}
.weatherDay{
  
  margin:0.2em;
  padding:0.5em;
  border:1px solid white;
  border-radius: 30px;
}
.center{
  margin-top:20vh;
}
#showBtn{
  width:20em;
  height:4em;
  border-radius:20px;
  margin:3em;
  font-size:0.5em;
  background:gray;
  box-shadow: 0 0 10px white;
}
#regTest, #cityTest, #dayTest, button{
  cursor:pointer;
}
select{
  background: black;
  border-radius:5px;
  box-shadow: 0 0 10px white;
  width: 268px;
  padding: 5px;
  font-size: 16px;
  color: white;
  height: 34px;
}
.flex{
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
}
.flex p {
  width:10em;
  margin:1em;
}